{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Book edit</h1>

	{{ form_start(edit_form) }}
    	<div class="form-group">
    		{{ form_row(edit_form.name, {'attr': {'class': 'form-control'}}) }}
    	</div>
    	<div class="form-group">
    		{{ form_row(edit_form.author, {'attr': {'class': 'form-control'}}) }}
    	</div>
    	<div class="form-group">
    		{{ form_row(edit_form.language, {'attr': {'class': 'form-control'}}) }}
    	</div>
    	<div class="form-group">
    		{{ form_row(edit_form.publisher, {'attr': {'class': 'form-control'}}) }}
    	</div>
    	<div class="form-group">
    		{{ form_row(edit_form.summary, {'attr': {'class': 'form-control'}}) }}
    	</div>
    	<div class="form-group">
    		{{ form_widget(edit_form.submit, {'attr': {'class': 'btn btn-default'}}) }}
    	</div>
    {{ form_end(edit_form) }}


    {{ form(delete_form) }}

{% endblock %}
